  @font-face {
    font-family: 'Hedra';
    src: url('Hedra-Bold.woff2') format('woff2'),
        url('Hedra-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hedra';
    src: url('Hedra-Light.woff2') format('woff2'),
        url('Hedra-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hedra';
    src: url('Hedra-ExtraLight.woff2') format('woff2'),
        url('Hedra-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hedra';
    src: url('Hedra-Medium.woff2') format('woff2'),
        url('Hedra-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hedra';
    src: url('Hedra-Regular.woff2') format('woff2'),
        url('Hedra-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

