<footer class="footer fixed-bottom">
    <div>
      <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item logo-footer">
            <a href="https://www.unige.ch" target="_blank">
            <img src="http://www.unige.ch/presse/charte/logos_unige/UNIGE/UNIGE50.jpg" alt="Université de Genève" height="35px" width="80px"/>
            </a>
         </li>
         <li class="list-inline-item logo-footer">
            <small>Projet E-ditiones - 2021</small>
         </li>
         <li class="list-inline-item logo-footer">
            <a href="https://www.huma-num.fr/" target="_blank">
            <img src="https://www.huma-num.fr/sites/default/files/logo-petit-hn-rvb.png" alt="Huma-num" height="35px" width="50px"/>
            </a>
         </li>
        </ul>
    </div>
</footer>