<html>
<head>
    <meta charset="utf-8"/>
    <title>Notice</title>
    <title data-template="config:app-title">Notice</title>
    <meta name="description" content="Présentation"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"/>
    <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.png"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald"/>
    <link rel="stylesheet" href="resources/css/theme.css"/>
    <link rel="stylesheet" href="resources/css/custom-theme-Editiones.css"/>
    <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"/>
<custom-style>
         <style>
            body {
                --pb-view-height: calc(100vh - 192px);
            }
            .content-body {
                position: relative;
                display: flex;
                justify-content: center;
                padding: 0 20px;
            }
            .metadata {
                width: 100%;
                padding: 0 20px 60px;
            }
            .metadata pb-view {
                font: var(--pb-base-font);
            }
            .metadata h3 pb-view {
                font-family: var(--pb-heading-font-family);
                font-weight: var(--pb-heading-font-weight);
            }
            .content-body #view1 {
                flex: 1;
            }</style>
      </custom-style>
   </head>
   <body>
      <pb-page data-template="pages:pb-page" unresolved="unresolved">
         <pb-document id="document1" data-template="pages:pb-document"/>
         <app-drawer-layout force-narrow="force-narrow">
            <app-drawer data-template="templates:include" data-template-path="templates/drawer.html"/>
            <!-- Cette partie concerne tous les outils de la partie supérieure de la page. -->
            <app-header-layout>
               <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall" condenses="condenses">
                  <app-toolbar data-template="templates:include" data-template-path="templates/menu.html"/>
                  <app-toolbar class="toolbar" sticky="sticky">
                    <paper-button id="tocToggle" class="toc-toggle" raised="raised">
                        <a href="/index.html" data-template="pages:parse-params">Retour à l'index</a>
                    </paper-button>
                    <!-- L'accès aux autres pages se fait simplement en modifiant le template associé au texte. -->
                    <paper-button id="tocToggle" class="toc-toggle" raised="raised">
                        <a href="?template=e-ditiones.html" data-template="pages:parse-params">Accès au texte</a>
                    </paper-button>
                  </app-toolbar>
               </app-header>
               <div class="Pre_container">
                    <h1>
                        <pb-view id="title-view1" src="document1" xpath="//teiHeader" view="single">
                            <pb-param name="mode" value="title"/>
                        </pb-view>
                    </h1>
                    <div class="Float_gauche metadata">
                        <p class="lead">
                            <a href="?template=e-ditiones.html" data-template="pages:parse-params">
                                    <i class="fas fa-book-open"/> Lire le texte.</a>
                        </p>
                        <pb-view id="title-view1" src="document1" xpath="//teiHeader" view="single" load-css="resources/css/bootstrap.css">
                            <pb-param name="mode" value="metadata"/>
                        </pb-view>
                        <br/>
                    </div>
                    <div class="Float_droite">
                    <pb-view src="document1" xpath="//teiHeader" view="single">
                        <pb-param name="mode" value="apercu"/>
                    </pb-view>
                    </div>
                </div>
            </app-header-layout>
         </app-drawer-layout>
        <app-toolbar data-template="templates:include" data-template-path="templates/footer.html"/>
      </pb-page>
      <div class="splash">
      </div>
   </body>
</html>