<footer id="footer">
<hr class="mt-0"/>
    <div class="container">
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="mx-16" href="https://lettres.sorbonne-universite.fr/" target="_blank">
                    <img src="https://raw.githubusercontent.com/Antonomaz/Application/main/Logos_partenaires/SU.png" height="50px"/>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="mx-16" href="https://www.iufrance.fr/" target="_blank">
                    <img src="https://raw.githubusercontent.com/Antonomaz/Application/main/Logos_partenaires/IUF.png" height="50px"/>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="mx-16" href="https://www.bibliotheque-mazarine.fr/fr/" target="_blank">
                    <img src="https://raw.githubusercontent.com/Antonomaz/Application/main/Logos_partenaires/Mazarine.png" height="50px"/>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="mx-16" href="https://www.dim-humanites-numeriques.fr/" target="_blank">
                    <img src="https://raw.githubusercontent.com/Antonomaz/Application/main/Logos_partenaires/DIM.png" height="50px"/>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="mx-16" href="http://stih-sorbonne-universite.fr/" target="_blank">
                    <img src="https://raw.githubusercontent.com/Antonomaz/Application/main/Logos_partenaires/STIH.png" height="50px"/>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="mx-16" href="https://obvil.sorbonne-universite.fr/" target="_blank">
                    <img src="https://raw.githubusercontent.com/Antonomaz/Application/main/Logos_partenaires/OBVIL.png" height="50px" width="130px"/>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="mx-16" href="https://corli.huma-num.fr/" target="_blank">
                    <img src="https://raw.githubusercontent.com/Antonomaz/Application/main/Logos_partenaires/Corli.png" height="50px" width="90px"/>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="mx-16" href="https://e-editiones.org/" target="_blank">
                    <img src="https://raw.githubusercontent.com/Antonomaz/Application/main/Logos_partenaires/e-editiones.png" height="50px"/>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="mx-16" href="https://www.huma-num.fr/" target="_blank">
                    <img src="https://raw.githubusercontent.com/Antonomaz/Application/main/Logos_partenaires/HN.png" height="50px"/>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="mx-16" href="https://github.com/Antonomaz" target="_blank">
                    <img src="https://raw.githubusercontent.com/Antonomaz/Application/main/Logos_partenaires/GitHub.png" height="50px"/>
                </a>
            </li>
        </ul>
    </div>
    <div class="text-center">
        <p>Antonomaz-2022 <br/>
        <small>Sauf mention contraire, tous les contenus ici présentés sont publiés sous une licence <a href="https://creativecommons.org/licenses/by/4.0">CC BY 4.0</a></small></p>
    </div>
</footer>